## ------------------------------------------------------
## Kafka Connect
## ------------------------------------------------------
enabled: true
replicaCount: 3
image: confluentinc/cp-kafka-connect
imageTag: 6.0.1
heapOptions: "-Xms512M -Xmx512M"
resources:
  limits:
    cpu: 500m
    memory: 2048Mi
  requests:
    cpu: 100m
    memory: 1024Mi

kafka:
  bootstrapServers: {{ CCLOUD_KAFKA_BOOTSTRAP_SERVERS }}
cp-schema-registry:
  url: {{ CCLOUD_SR_URL }} 

configurationOverrides:
  "key.converter": org.apache.kafka.connect.storage.StringConverter
  "value.converter": io.confluent.connect.avro.AvroConverter

  "ssl.endpoint.identification.algorithm": https
  "security.protocol": SASL_SSL
  "sasl.mechanism": PLAIN
  "sasl.jaas.config": org.apache.kafka.common.security.plain.PlainLoginModule required username="{{ CCLOUD_KAFKA_API_KEY }}" password="{{ CCLOUD_KAFKA_API_SECRET }}";
  "request.timeout.ms": 20000
  "retry.backoff.ms": 500
  
  "producer.bootstrap.servers": {{ CCLOUD_KAFKA_BOOTSTRAP_SERVERS }}
  "producer.ssl.endpoint.identification.algorithm": https
  "producer.security.protocol": SASL_SSL
  "producer.sasl.mechanism": PLAIN
  "producer.sasl.jaas.config": org.apache.kafka.common.security.plain.PlainLoginModule required username="{{ CCLOUD_KAFKA_API_KEY }}" password="{{ CCLOUD_KAFKA_API_SECRET }}";
  "producer.request.timeout.ms": 20000
  "producer.retry.backoff.ms": 500
  
  "consumer.bootstrap.servers": {{ CCLOUD_KAFKA_BOOTSTRAP_SERVERS }}
  "consumer.ssl.endpoint.identification.algorithm": https
  "consumer.security.protocol": SASL_SSL
  "consumer.sasl.mechanism": PLAIN
  "consumer.sasl.jaas.config": org.apache.kafka.common.security.plain.PlainLoginModule required username="{{ CCLOUD_KAFKA_API_KEY }}" password="{{ CCLOUD_KAFKA_API_SECRET }}";
  "consumer.request.timeout.ms": 20000
  "consumer.retry.backoff.ms": 500
  
  "offset.flush.interval.ms": 10000
  
  "offset.storage.topic": connect-dev-1-offsets
  "offset.storage.replication.factor": 3
  "offset.storage.partitions": 3
  "config.storage.topic": connect-dev-1-configs
  "config.storage.replication.factor": 3
  "status.storage.topic": connect-dev-1-status
  "status.storage.replication.factor": 3
  
  # Schema Registry specific settings
  "value.converter.basic.auth.credentials.source": USER_INFO
  "value.converter.schema.registry.basic.auth.user.info": {{ CCLOUD_SR_API_KEY }}:{{ CCLOUD_SR_API_SECRET }}
  "value.converter.schema.registry.url": {{ CCLOUD_SR_URL }} 
  